.startpage {
  position: absolute;
  z-index: 2;
  top: 40%;
  padding-left: 4%;
  color: azure;
}

.start-background {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url('../../../assets/rpsfp.png');
  background-color: rgb(7, 6, 6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}
